h1{
    color: rgb(168, 46, 12);
}

.card{
    width: 400px;
   border: 2px solid black;
   
  
}

img{
    
    width:100%;
    border-radius: 25px;
}
#pets{
    display: flex;
    justify-content: space-evenly;
   

}
